.counter
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 400px;
    height: 110px;
}
.normal
{
    font-size: 100px;
    color: white;
}
.max
{

    font-size: 100px;
    color: red;
}