.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url(https://wallpapertag.com/wallpaper/full/5/a/e/409696-stars-in-space-background-2560x1600-for-pc.jpg);
}
